<div class="bg">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="e-card">
  <br>
<br>
<h1>List Of Stores</h1>
<br>
<br>
<div class="container">
    <table border="1" id="table1" style="border-collapse: collapse;">
       <tr>
         <!-- <th>Id</th> -->
         <th>Address</th>
         <th>StoreName</th>
         <th>Timings</th>
         <th>Type</th>
       </tr>
       <tr *ngFor="let store of stores">
         <!-- <td>{{store.id}}</td> -->
         <td>{{store.address}}</td>
         <td>{{store.storename}}</td>
        <td>{{store.timings}}</td>
         <td>{{store.type}}</td>
       </tr>
     </table>
   </div>
   <br>
<br>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>