<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
<div class="container">
<div class="toolbar" role="banner">
  <img
     width="70"
     alt="Shopping Logo"
     src="https://thumbs.dreamstime.com/z/shopping-cart-logo-design-template-135610414.jpg"/>
     <div class="collapse navbar-collapse">
     
       <ul class="nav navbar-nav" routerLinkActive="active">
  
     <h1>Shopping Stores.com</h1>
     <a class="nav-link" routerLink="/addstore" routerLinkActive="active">AddStore</a>&nbsp;&nbsp;
      <a class="nav-link" routerLink="/searchstore" routerLinkActive="active">SearchStore</a>&nbsp;&nbsp;
      <a  class="nav-link" routerLink="/listofstores" routerLinkActive="active">listofstores</a>&nbsp;&nbsp;
      <a  class="nav-link" routerLink="/ContactUs" routerLinkActive="active">ContactUs</a>
      </ul>
     </div>
     
</div>
</div>
</nav>
<router-outlet></router-outlet>
<div class="bg">
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Shopping Stores.com</h1>
<p>Shopping stores.com is a website that enables you to find out the stores located nearby your house we already know that we have google maps to locate 
  every thing nearby but the small General stores that are in streets are not available in maps so if you wanted to know the avaialbility of items
  and the opening times of stores nearby your house you can check it in our website. 
</p>
<br>

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://d1fywv0iz2cv2w.cloudfront.net/videos/burpy-process.jpg" class="d-block w-50" alt="abcd">
    </div>
    <div class="carousel-item">
      <img src="https://thumbs.dreamstime.com/z/seamless-pattern-blue-outline-shopping-icons-white-background-online-shop-mobile-shopping-buying-internet-store-texture-146539385.jpg" class="d-block w-100" alt="abcd">
    </div>
    <div class="carousel-item">
      <img src="https://thumbs.dreamstime.com/z/seamless-pattern-blue-outline-shopping-icons-white-background-online-shop-mobile-shopping-buying-internet-store-texture-146539385.jpg" class="d-block w-100" alt="abcd">
    </div>
  </div>
</div> -->
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div> -->
<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <img src="https://d1fywv0iz2cv2w.cloudfront.net/videos/burpy-process.jpg" width="150" alt="abcd">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
<!-- <div class="card">
  <img src="https://d1fywv0iz2cv2w.cloudfront.net/videos/burpy-process.jpg" width="150" alt="abcd">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div> -->